/* 中英文弯引号共享 Unicode 码位，确保引号使用中文字体渲染 */
@font-face {
  font-family: Quotes;
  src: local('PingFang SC Regular'), local('PingFang SC'), local('SimHei'),
    local('Source Han Sans SC');
  unicode-range: U+2018, U+2019, U+201C, U+201D; /* 分别是 ‘’“” */
}

body {
  /* 1. 添加 Quotes 字体以修改引号 */
  /* 2. 暂时删除 Inter 以修复斜体不生效问题，等 vuejs/theme 同步 https://github.com/vuejs/vitepress/pull/777 后观察是否可使用 'Inter var experimental', 'Inter var' 替代 */
  --vt-font-family-base: Quotes, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;

  /* 修复斜体不生效问题 #574 */
  text-rendering: unset !important;
  font-synthesis: unset !important;
}

/**
 * 不用 --vt-font-family-base 因为如果元素本身没有设置 font-family，会继承外部的 font-family，
 * 在这里设置 --vt-font-family-base 是无效的。不用 :lang(en) 因为这样可以把 font-family 设置范
 * 围控制得小一点。
 */
[lang|='en'] {
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
