.VPSidebar {
  overflow-y: hidden !important;
  transition: all 0.3s ease;
}
.VPSidebar:hover {
  overflow-y: auto !important;
}

.VPSidebar::-webkit-scrollbar {
  width: 6px;
}
.VPSidebar::-webkit-scrollbar-track {
  background-color: #f3f3f3;
  border-radius: 20px;
}
.VPSidebar::-webkit-scrollbar-thumb {
  background: linear-gradient(315deg,#42d392 25%,#647eff);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: 20px;
}